doctype 5
html
  head
    title= title

    link(href='stylesheets/app.css', rel='stylesheet', type='text/css')

    link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')
    script(type='text/javascript')
      (function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";
        b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+
        '//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];
        d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){
        var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(
        Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:
        f="mixpanel";g.people=g.people||[];h=['disable','track','track_pageview','track_links',
        'track_forms','register','register_once','unregister','identify','name_tag',
        'set_config','people.identify','people.set','people.increment'];for(e=0;e<h.length;e++)d(g,h[e]);
        a._i.push([b,c,f])};a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);
        mixpanel.init("8c3bd3239141b0bc4ce867b77bc7b240");

    //
       Le HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
  body(data-spy='scroll', data-target='.subnav', data-offset='50')
    script(type='text/x-handlebars', data-template-name='application')
      {{outlet}}

    include includes/home
    include includes/music
    include includes/portfolio
    include includes/about


    //
       Le javascript
    //
       Placed at the end of the document so the pages load faster 

    // Vendor
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      // Ember
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0.beta6/handlebars.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/ember.js/1.0.pre/ember-1.0.pre.min.js')
      // Masonry
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/masonry/2.1.04/jquery.masonry.min.js')
      // Raphael
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
      // Gitview
    script(src='https://raw.github.com/bouchon/Gitview/master/Gitview.js')


    script(type='text/javascript', src='javascripts/app.js')
    script(type='text/javascript', src='javascripts/vendor.js')
    <script>require('js/app');</script>
